
* {
  margin: 0px;
  padding: 5px;
  border: 10px;
  box-sizing: border-box;

}

body {
  background-color: #FC9E4F;
  color: #020122;
  max-width: 80%;
  margin: auto;
  font-family: Roboto;
}

img {
  width: 50%;
  border: 5px solid black;
  border-radius: 40%;
  display: block;
  margin: auto;
  padding: 0%;
}

h1,
h2 {
  font-family: "Young Serif", Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
}

a {
  font-size: 1.2em;
  color: #F2F3AE
}
a:visited {
    color: #BF3B13;
}
a:hover {
    color: white;
}
/*
li {
  padding: 1px;
  margin-left: 35px;

}

@media screen and (min-width: 500px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
